<div class="card">
    <div class="card-header">
        <h1>About me</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-md-6">
                <%= image_tag "Profile.jpg", width: 300, alt: "profile picture Torstein Eliassen" %>
            </div>
            <div class="col col-md-6">
                <ul>
                    <li>22 years old</li>
                    <li>Norwegian/English</li>
                    <li>Cybernetics and Robotics student at NTNU</li>
            </div>
        </div>
    </div>
</div>
