<div class="card">
    <div class="card-header">
        <h1>Contact</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h3>University</h3>
                <p>Norwegian University of Science and Technology (NTNU)</p>
                <h3>Email</h3>
                <p> <%= mail_to "torstein.eliassen@gmail.com", "torstein.eliassen@gmail.com", subject: "Rails Contact" %> </p>
            </div>
            <div class ="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7141.199436804351!2d10.393905051500264!3d63.41891043389851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466d3195bb7b70c9%3A0x1dcf5464ecefec31!2sGl%C3%B8shaugen%2C%207034%20Trondheim!5e0!3m2!1sno!2sno!4v1570423355001!5m2!1sno!2sno" width="300" height="225" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
